    /*This is the css code for the background color for the heroes page*/
            #body {
                background-color: orange;
    
            }

    /*This is the CSS code for the nav bar*/


                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow-x: hidden;
                    background-color: #333;
                    position: relative;
                    z-index: 10;
                    
                }


                li {
                    float: left;
                    margin-left: 235px;
                    
                }


                li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 25px;
                    text-decoration: none;
                    font-size: 20px;
                    
                }


                li a:hover:not(.active) {
                    background-color: #111;
                    
                }

                
                .active {
                    background-color: #4CAF50;
                    
                }



    /*This is the CSS code for the hero list title*/

                #Title {
                    text-decoration: underline;
                    font-size: 100px;
                    padding-top: 25px;
                    padding-bottom: 50px;
                    font-weight: bold;
                    text-align: center;
                    color: gray;
                    
                }


/*The CSS code for the container which includes all the pictures and text*/

                .PictureContainer {
                    display: flex;
    
                }



/*CSS code for Tracer Picture and info*/

            .Tracer {
                margin-left: 150px;
                flex-basis: 40%;
                
            }


            .TracerText {
                padding-left: 75px;
                margin-right: 400px;
                padding-top: 50px;
    
            }
                

            #Tracer2 {
                width: 600px;
                height: 400px;
                
    
            }

            #TracerHeading {
                margin-left: 275px;
                font-size: 50px;
    
            }
           



